.details {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(24, 9, 121, 0.5691526610644257) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}
